/.idea/.gitignore
/.idea/DEVONthink Image Toolbox.iml
/.idea/markdown.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
